// TYPOGRAPHY
@font-face {
  font-family: "Unisoft77BetaWeb-Regular";
  src: url("/assets/fonts/Unisoft77BetaWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

$sans: "Unisoft77BetaWeb-Regular", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$text--small: clamp(calc(13rem/16), 1.7vw, calc(15rem/16));

// TYPE SCALE: PERFECT FOURTH
$h0: 4.209rem;
$h1: 3.157rem;
$h2: 2.369rem;
$h3: 1.777rem;
$h4: 1.333rem;
$body: 1rem;
$h5: 0.75rem;
$h6: 0.563rem;

// BREAKPOINTS
$page-width: 1300px;
$desktop: 1280px; 
$laptop: 1024px;
$tablet: 768px;
$mobile: 400px;

// PALETTE
$pepper: #29272f;
$feta: #fffffb;
$ranch: #fffcea;
$arugula: #33952a;
$carrot: #f27610;
$balsamic: #c271f3;

// NAVIGATION
$nav-height: 6rem;